
		<footer class="footer-block bg-black" style="background-image: url(/tripeasy/assets/images/footer-bg.png)">
			<div class="container">
				<!-- footer-top-block -->
				<div class="footer-top-block yellow-theme">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="widget widget_about">
								<h3 class="widget-title">About us</h3>
								<!-- /.widget-title -->
								<div class="widget-about-content">
									<img src="/tripeasy/assets/images/car-logo.png" alt="logo" />
									<p>
										Grand Ride - Your Journey, Your Way. Discover the Freedom of Self-Drive Adventures.
									</p>
									
								</div>
								<!-- /.widget-content -->
							</div>
							<!-- /.widget widget_about -->
						</div>
						<!-- /.col-md-3 -->
						<div class="col-md-4 col-sm-6">
							<div class="widget widget_menu">
								<h3 class="widget-title">Useful link</h3>
								<!-- /.widget-title -->
								<ul>
									<li><a href="/tripeasy/contact-us/">Contact page</a></li>
									<li><a href="/tripeasy/terms/">Terms & Conditions</a></li>
									<li><a  target="_blank"  href="https://www.google.com/search?q=grand+ride+janak+puri&rlz=1C1UEAD_enIN1088IN1088&oq=gr&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MhIIARBFGDkYgwEYsQMYgAQYigUyDQgCEAAYgwEYsQMYgAQyEwgDEC4YgwEYxwEYsQMY0QMYgAQyDQgEEAAYgwEYsQMYgAQyBggFEEUYPTIGCAYQRRg8MgYIBxBFGD3SAQgyOTc0ajBqNKgCALACAQ&sourceid=chrome&ie=UTF-8">Reviews</a></li>
								</ul>
							</div>
							<!-- /.widget -->
						</div>
						<!-- /.col-md-3 -->
						<div class="col-md-4 col-sm-6">
							<div class="widget widget_hot_contact">
								<h3 class="widget-title">Hot contact</h3>
								<!-- /.widget-title -->
								<ul>
									<li>
										<a href="mail:grandridedelhi@gmail.com"><i class="fa fa-envelope"></i>grandridedelhi@gmail.com</a>
									</li>
									<li>
										<a href="tel:01169290529"><i class="fa fa-phone"></i>01169290529</a>
									</li>
									<li>
										<a target="_blank" href="https://www.google.com/maps/dir//grand+ride+janak+puri/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x390d05992f7b9b91:0xfe18acc4a52531a5?sa=X&ved=1t:3061&ictx=111"><i class="fa fa-map-marker"></i>2nd Floor, B1/632, Janakpuri East, Vikaspuri, New Delhi, Delhi, 110058</a>
									</li>
								</ul>
							</div>
							<!-- /.widget -->
							<div class="widget widget_newsletter">
								<h3 class="widget-title">Subscribe</h3>
								<form action="#" class="subscribes-newsletter" method="get">
									<label>Subscribe to our Newsletters</label>
									<div class="input-group">
										<input type="search" name="s" placeholder="Your email" class="form-controller" />
										<span class="input-group-btn">
										<button type="submit" class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
										</button>
										</span>
									</div>
									<!-- /. input-group -->
								</form>
								<!-- /.subscribes-newsletter -->
							</div>
							<!-- /.widget -->
						</div>
						<!-- /.col-md-3 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.footer-top-block -->
				<!-- footer-bottom-block -->
				<div class="footer-bottom-block">
					<div class="row">
						<div class="col-md-9">
							<div class="bottom-content-left">
								<p class="copyright">
									Copyright &copy; 2024 Grand Car - All Right Reserved
									<a href="#">Grand Car</a>
								</p>
							</div>
							<!-- /.bottom-top-content -->
						</div>
						<!-- /.col-md-9 -->
						<div class="col-md-3">
							<div class="bottom-content-right">
								<div class="social-profile">
									<span class="social-profole-title">Follow Us:</span>
									<a href="https://www.instagram.com/grandridecar"><i class="fa fa-instagram"></i></a>
									  <a target="_blank"  href="https://twitter.com/RideGrand10593"><i class="fa fa-twitter"></i></a> 
									<a href="https://www.facebook.com/people/Grandride-Car/pfbid0CGYSRgn9EQFpacidtofRyaYKGBevHWV7SKKdQ5Nuxe91Z8PpXyAKMDEvBFiuouJ6l/?mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a>
									 
								</div>
								<!-- /.social-profile -->
							</div>
							<!-- /.bottom-content-right -->
						</div>
						<!-- /.col-md-3 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.footer-bottom-block -->
			</div>
			<!-- /.container -->
		</footer>
		<!-- /.footer-block -->