<li>
  <a href="javascript:void(0)" style="font-weight: bold;font-family: 'Roboto';">
     Welcome, {loginUserName}
  </a>
</li>
<li>
  <a href="javascript:void(0)" class="active">
     Home
  </a>
</li>
<li>
  <a href="/tripeasy/delivery-boy/profile">
     Profile Details
  </a>
</li>
<li>
  <a href="javascript:void(0)">
     Car List
  </a>
</li>
<li>
  <a href="javascript:void(0)">
     Monthly
  </a>
</li>
<li>
  <a href="javascript:void(0)">
     About
  </a>
</li>
<li>
  <a href="javascript:void(0)">
     Blogs
  </a>
</li>
<li>
  <a href="javascript:void(0)">
     Contact
  </a>
</li>  
<li>
  <a href="/tripeasy/delivery-boy/logout">
     Logout
  </a>
</li> 